/* Variables */

:root {
  --white: #FFFFFF; /*background-page, filter-text, range-line-full, check-box-standard, background-input-focus */
  --background-basic: #EEEEEE; /*3-4-5-features*/
  --background-mountain: #B38B84; /*background-mountain*/
  --background-map: #CBDDA9; /*background-map*/
  --background-other: #F2F2F2; /*background-left-right, background-input-standard, background-rating */
  --small-text: #333333; /*small-text-index */
  --box-shadow-all: rgba(0, 1, 1, 0.2); /*box-shadow-all*/
  --box-shadow-form: rgba(0, 1, 1, 0.15); /*box-shadow index-form */
  --input-hover: #EBEBEB; /*background-input-hover*/
  --border: #E5E5E5; /*input-border-focus, catalog-border*/
  --form-icon: #A9A9A9; /*form-icon-standard-index*/
  --checkbox-blocked: #6A6A6A;
  --range-round: #ABABAB; /*range-round*/
  --scale-text-opacity: rgba(255, 255, 255, 0.3); /*scale-text-opacity*/
  --sorting-icon: #CACACA; /*sorting-icon-standard*/
  --rating-text: #666666; /*rating-text*/

  --footer: rgba(255, 255, 255, 0.9); /*footer*/
  --html-academy: #231F20; /*html-academy-standard*/
  --html-academy-active: #BDBBBC; /*html-academy-active*/

  --button-2-hover: #604E43; /*button-2-hover*/
  --button-2-active: #503E33; /*button-2-active*/
  --extra-color: #766357; /*button-2-standard, menu-link-active */

  --button-1-hover: #669EC0; /*button-1-hover, socials-icon-hover*/
  --button-1-active: #5496BD; /*button-1-active, socials-icon-active*/
  --theme-color: #81B3D2;
  /*button-1-standard, socials-icon-standard, stars, background hotels, menu-link-hover,
                       sorting-link-active-hover, sorting-icon-active, card-link-hover, form-icon-active
                       html-academy-hover*/
  --black: #000000; /*big text, sorting-icon-hover, card-link-standard, form-icon-hover*/
  --sorting-link: rgba(0, 0, 0, 0.3); /*sorting-link*/
}

/* Global */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  color: var(--small-text);
  background-color: var(--background-other);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  width: 100%;
  margin-bottom: 15px;
  padding-top: 15px;
}

/* Grid */

.wrapper {
  width: 1200px;
  min-height: 100vh;
  background-color: var(--white);
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  box-shadow: 0 5px 15px var(--box-shadow-all);
}

/* Logo */

.header-logo {
  display: block;
  width: 138px;
  height: 70px;
  margin: 0 auto;
}

/* Main navigation */

.main-navigation {
  padding-left: 71px;
  line-height: 26px;
  font-weight: 700;
  list-style: none;
}

.navigation-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-list li {
  width: 228px;
}

.navigation-list li:nth-child(1) {
  text-align: left;
}

.navigation-list li:nth-child(2) {
  text-align: left;
  margin-right: 146px;
}

.navigation-list li:nth-child(3) {
  text-align: right;
}

.navigation-list li:nth-child(4) {
  text-align: right;
}

.navigation-list a:not([href]) {
  color: var(--extra-color);
}

.navigation-list a {
  color: var(--black);
}

.navigation-list a:hover,
.navigation-list a:focus {
  color: var(--theme-color);
}

.navigation-list a:active {
  color: var(--black);
  opacity: 0.3;
}

/* Introduction */

.introduction {
  text-align: center;
  margin-bottom: 44px;
}

.introduction-picture {
  background-color: var(--background-mountain);
  background-image: url("../img/mountain-landscape.jpg");
  background-position: center bottom;
  background-size: cover;
  margin-bottom: 43px;
}

.introduction-picture img {
  display: block;
  width: 457px;
  height: 351px;
  margin: 0 auto;
}

.introduction p {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
  margin: 0 365px;
}

/* Features */

.features {
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 60px;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features h2 {
  margin: 0;
  margin-bottom: 51px;
  font-size: inherit;
  line-height: 26px;
  font-weight: inherit;
}

.feature-item h3,
.feature-item h4 {
  margin: 0;
  margin-bottom: 25px;
  font-size: 21px;
}

.feature-item-small h3,
.features-list-extra h4 {
  color: var(--black);
}

.feature-item-big {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content auto;
}

.feature-item-big .feature-item-wrapper {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.feature-main .feature-item-wrapper {
  display: flex;
  flex-direction: column;
  color: var(--white);
  background-color: var(--theme-color);
}

.feature-img {
  width: 800px;
  height: 256px;
  margin: 0;
}

li.feature-item-big .feature-img {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.features-list-extra {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

li.feature-item-normal {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.feature-item-normal .feature-item-wrapper {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.feature-item-normal .feature-img {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin: 0;
}

.feature-item span {
  margin: 0;
  margin-bottom: 25px;
}

.feature-text {
  margin: 0;
}

.features-list-extra {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-extra-item {
  width: 400px;
  min-height: 256px;
}

.extra-text {
  margin: 0;
}

.feature-heading {
  order: -1;
  padding-top: 48px;
}

li.feature-item-small {
  display: flex;
  flex-direction: column;
  background-color: var(--background-basic);
}

/* Search hotels */

.search-hotels {
  line-height: 24px;
  text-align: center;
}

.question {
  margin: 0;
  margin-bottom: 33px;
  font-size: 30px;
  font-weight: 700;
  color: var(--black);
}

.question + p {
  margin: 0;
  margin-bottom: 69px;
}

.search-hotels button {
  margin-bottom: 0;
  font-size: 21px;
  line-height: 26px;
}

/* Button */

.button {
  display: inline-block;
  margin-right: 6px;
  font-weight: 700;
  text-align: center;
  color: var(--white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.button-1 {
  background-color: var(--theme-color);
}

.button-1:hover,
.button-1:focus {
  background-color: var(--button-1-hover);
}

.button-1:active {
  color: var(--scale-text-opacity);
  background-color: var(--button-1-active);
}

.button-2 {
  background-color: var(--extra-color);
}

.button-2:hover,
.button-2:focus {
  background-color: var(--button-2-hover);
}

.button-2:active {
  color: var(--scale-text-opacity);
  background-color: var(--button-2-active);
}

.open-form-button {

}

.search-button {
  margin-top: 22px;
}

.number-button {
  display: inline-block;
  margin: 0;
  font-weight: 700;
  text-align: center;
  color: var(--black);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.catalog-button {
  padding: 3px 17px 3px 17px;
}

/* Search-form */

.search-form {
  margin: 0 auto;
  width: 568px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
  box-shadow: 0 7px 15px var(--box-shadow-form);
}

.search-item {
  margin: 0;
  margin-bottom: 30px;
}

.search-item input {
  margin: 0;
  font-weight: 700;
  text-transform: inherit;
  background-color: var(--background-other);
  border: 0;
}

.search-item-date input {
  width: 346px;
}

.search-item-number input {
  width: 37px;
}

.search-item-number {
  margin-bottom: 54px;
}

.search-item input:hover {
  background-color: var(--input-hover);
}

.search-item input:focus {
  background-color: var(--white);
  border: 2px solid var(--border);
}

.search-item input[type="text"]::placeholder {
  color: var(--black);
}

.search-item input[type="text"]::-ms-input-placeholder {
  color: var(--black);
}

/* Map */
.map {
  margin: 0;
  padding: 0;
}

.map-image {
  width: 1199px;
  height: 593px;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: var(--background-map);
}

/* Footer */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 23px 0 34px 42px;
  line-height: 26px;
  color: var(--black);
  background-color: var(--footer);
}

.footer-contacts {
  margin: 0;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
}

.footer-contacts-hashtag {
  margin: 0;
  margin-bottom: 9px;
}

.footer-contacts-phone {
  margin: 0;
}

.footer-contacts a {
  color: var(--black);
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--theme-color);
}

.footer-contacts a:active {
  color: var(--black);
  opacity: 0.3;
}

.footer-social {
  margin: 0;
  width: 150px;
  justify-self: center;
  text-align: center;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Social button */

.social-button {
  background-color: var(--theme-color);
}

/* Copyright */

.footer-copyright {
  max-width: 197px;
  margin: 0;
  padding-top: 14px;
  display: flex;
  align-items: center;
}

.footer-copyright-text {
  margin-right: 8px;
}

.footer-copyright a {
  color: var(--html-academy);
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  color: var(--theme-color);
}

.footer-copyright a:active {
  color: var(--html-academy-active);
}

/* Filters */

.filters {
  margin: 0;
  padding-top: 26px;
  padding-left: 72px;
  padding-bottom: 33px;
  color: var(--white);
  background-color: var(--background-mountain);
  background-image: url("../img/background.jpg");
  background-position: center bottom;
  background-size: cover;
}

.filter {
  margin: 0;
  padding-right: 73px;
  display: flex;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter fieldset:first-child {
  margin-right: 117px;
}

.filter fieldset:nth-child(2) {
  margin-right: auto;
}

.filter-legend {
  margin-bottom: 11px;
  font-size: 16px;
  font-weight: 700;
}

.filter-list {
  padding: 0;
  padding-top: 14px;
  padding-left: 24px;
  margin: 0;
  list-style: none;
}

.filter-list-item {
  margin-bottom: 25px;
}

.filter-list-item:last-child {
  margin-bottom: 0;
}

.filter-input-checkbox:disabled + label {
  color: var(--checkbox-blocked);
}

.filter input[type="number"] {
  color: var(--white);
  background-color: transparent;
  border: 2px solid var(--white)
}

.button-3 {
  display: block;
  padding: 5px 34px 7px 35px;
  line-height: 21px;
  text-transform: uppercase;
  vertical-align: middle;
  color: var(--white);
  background-color: transparent;
  border: 2px solid var(--white);
  border-radius: 2px;
}

.button-3:hover,
.button-3:focus {
  color: var(--black);
  background-color: var(--white);
}

/* Sorting*/

.sorting {
  margin: 0;
  margin-top: 29px;
  margin-bottom: 31px;
  padding-left: 73px;
  font-size: 12px;
  line-height: 18px;
  color: var(--black);
  display: flex;
}

.sorting p {
  margin: 0;
}

.sorting ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting h2 + p {
  margin-right: 46px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting p + p {
  margin-right: 40px;
}

.sorting-catigories li {
  margin-right: 33px;
}

.sorting-catigories li:last-child {
  margin-right: 0;
}

.sorting-controls li {

}

.sorting a {
  color: var(--sorting-link);
}

.sorting a:hover,
.sorting a:focus {
  color: var(--theme-color);
}

.sorting a:active {
  color: var(--black);
}

.sorting-catigories {
  display: flex;
}

.sorting-controls {
  display: flex;
}

/* Catalog */
.catalog {
  margin: 0;
  padding: 0;

}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;

}

.catalog-item {
  display: flex;
  min-height: 150px;
  padding-top: 24px;
  padding-right: 71px;
  padding-left: 73px;

  border-bottom: 1px solid var(--border);
}

.catalog-item:nth-child(1) {
  border-top: 1px solid var(--border);
}

.catalog-item-image {
  width: 135px;
  height: 90px;
  margin: 0;
  margin-right: 29px;
  padding-top: 6px;
}

.catalog-item-info {
  width: 288px;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  align-content: start;
}

.catalog-item-info h3 {
  width: 288px;
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-item-info span {
  width: 110px;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  display: block;
}

.catalog-item-info h3 + span {
  margin-right: 5px;
}

.catalog-item-info .button {
  margin: 0;
}

.catalog-item-info .button-1 {
  margin-right: 5px;
}

a.item-link {
  color: var(--black);
}

a.item-link:hover,
a.item-link:focus {
  color: var(--theme-color);
}

a.item-link:active {
  color: var(--black);
  opacity: 0.3;
}

.wrap-rating {
  margin-bottom: 5px;
}

.rating {
  padding: 3px 12px 3px 15px;
  margin-right: 2px;
  color: var(--rating-text);
  background-color: var(--background-other);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



